#nav-bar {
    height: 70px;
    background-color: var(--nav-bar-bg-color);
    display: flex;
    align-items: center;
    padding-left: 5px;
    gap: 10px;
}

#nav-bar-icon {
    background-color: gray;
    height: 60px;
    width: 60px;
}

#nav-bar-header {
    font-weight: 800;
    font-size: 50px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height: 60px;
    display: flex;
    align-items: center;
}