:root {
    --side-bar-icons-color: #818181;

}

#side-bar {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-bar-child-div {
    display: flex;
    align-items: center;
    gap: 2px;
}

.side-bar-icon {
    height: 25px;
}

.side-bar-btn {
    border-style: none;
    background-color: var(--side-bar-bg-color);
    color: var(--side-bar-icons-color);
    font-size: 20px;
    font-weight: 600;
    height: 30px;
    width: 150px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
}

.side-bar-btn:hover {
    color: blue;
}

.side-bar-btn:active {
    box-shadow: inset 3px 3px 6px rgb(94, 94, 94);
}

